:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.destok-menu {
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.destok-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.destok-menu ul li {
  text-align: end;
}

.destok-menu ul li:nth-child(1),
.destok-menu ul li:nth-child(2) {
  font-weight: bold;
}

.destok-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.destok-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.destok-menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
